@import "../../styles/common";

.ms-Label {
	color: var(--ux-design--body-text-color);
	box-sizing: border-box;
	box-shadow: none;
	margin: 0;
	display: block;
	padding: 5px 0;
	word-wrap: break-word;
	overflow-wrap: break-word;

	&.is-disabled {
		color: var(--ux-design--disabled-body-text-color);
	}

	&.is-required:after {
		content: ' *';
        color: var(--ux-design--error-text-color);
		padding-right: 12;
	}
}
