@import "../../styles/common";

.ms-Toggle {
	//font-size: theme.fonts.medium;
	margin-bottom: 8px;

	.container {
		display: inline-flex;
		position: relative;
	}

	.pill {
		font-size: 20px;
		box-sizing: border-box;
		width: 2.2em;
		height: 1em;
		border-radius: 1em;
		transition: all 0.1s ease;
		border-width: 1px;
		border-style: solid;
		background-color: var(--ux-theme--toggle-pill-unchecked-background-color, var(--ux-design--body-background-color));
		border-color: var(--ux-theme--toggle-pill-border-color, var(--ux-design--small-input-border-color));
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 0 0.2em;

		&:hover {
			border-color: var(--ux-theme--toggle-pill-border-hovered-color, var(--ux-design--input-border-hovered-color));
		}
	}

	.thumb {
		width: 0.5em;
		height: 0.5em;
		border-radius: 0.5em;
		transition: all 0.1s ease;
		background-color: var(--ux-theme--toggle-thumb-background-color, var(--ux-design--input-border-hovered-color));
		border-color: transparent;
		border-width: 0.28em;
		border-style: solid;
		box-sizing: border-box;
	}

	.text .ms-Label {
		padding: 0;
		margin: 0 10px;
		user-select: none;
	}

	&.is-disabled {
		.ms-Toggle-label {
			color: var(--ux-design--disabled-text-color);
		}

		.pill {
			cursor: default;
			border-color: var(--ux-theme--toggle-pill-border-disabled-color, var(--ux-design--disabled-body-text-color));
		}

		.thumb {
			background-color: var(--ux-theme--toggle-thumb-disabled-background-color, var(--ux-design--disabled-body-text-color));
		}

		.text .ms-Label {
			color: var(--ux-theme--text-disabled-color, var(--ux-design--disabled-text-color));
		}
	}

	&.is-checked {
		.pill {
			background-color: var(--ux-theme--toggle-pill-checked-background-color, var(--ux-design--input-background-checked-color));
			border-color: transparent;
			justify-content: flex-end;

			&:hover {
				background-color: var(--ux-theme--toggle-pill-checked-hovered-background-color, var(--ux-design--input-background-checked-hovered-color));
				border-color: transparent;
			}
		}

		.thumb {
			background-color: var(--ux-theme--toggle-thumb-checked-background-color, var(--ux-design--input-foreground-checked-color));
		}
	}

	&.is-disabled.is-checked {
		.pill {
			background-color: var(--ux-theme--toggle-pill-checked-disabled-background-color, var(--ux-design--disabled-body-text-color));
			border-color: transparent;
		}

		.thumb {
			background-color: var(--ux-theme--toggle-thumb-checked-disabled-background-color, var(--ux-design--disabled-background-color));
		}
	}

	&:not(.is-disabled):not(.is-checked) {
		.pill {
			&:hover {
				border-color: var(--ux-design--input-border-hovered-color);
			}
		}
	}
}
